* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  height: 60px;
  background: lime;
  width: 100%;
}

.active {
  color: red;
}

section {
  height: 40vh;
}

#sec1 {
  background: red;
  height: 60vh;
}

#sec2 {
  background: orange;
}

#sec3 {
  background: tomato;
}

#sec4 {
  background: red;
}

#sec5 {
  background: orange;
}

#sec6 {
  background: tomato;
}

#sec7 {
  background: red;
}

#sec8 {
  background: orange;
}

#sec9 {
  background: tomato;
}
